body{
    background: #252839;
}

#arcadeGame{
    text-align: center;
    

}
h1{
    font-size: 50px;
    color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 12px;
    color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cell{
    width: 100px;
    height: 100px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    font-size: 75px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cyan;
}


#gameTable{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    
}
