* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    font-family: sans-serif;
    display: flex;
    background: #252839;
}

.arcadeGame {
    margin: 25px;
    padding: 25px;
    border-radius: 25px;

}

.title{
    font-size: 50px;
    color: burlywood;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.gameTable {
    display: grid;
    background: aquamarine;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin-top: 25px;
}

.game-cell {
    width: 150px;
    height: 150px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: aqua;
}
.game-cell:hover {
    background: aquamarine;
}


.gameStatus {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 25px;
    color: antiquewhite;
}
.insertPlayers {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 15px;

}
.p {
    color: antiquewhite;
}
.restart {
    cursor: pointer;
}
.restart:hover {
    color: fuchsia;
}

.insertPlayers {

}