* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    font-family: sans-serif;
    display: flex;
    background: #252839;
}

.arcadeGame {
    margin: 25px;
    padding: 25px;
    border-radius: 25px;

}

h1{
    font-size: 40px;
    color: burlywood;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.gameTable {
    display: grid;
    background: aquamarine;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin-top: 25px;
}

.cell {
    width: 150px;
    height: 150px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: aqua;
}
.cell:hover {
    background: aquamarine;
}


.status {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 25px;
    color: antiquewhite;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    border: 3px solid #42fbf2;
    background-color: antiquewhite;
}
button:hover {
    color: fuchsia;
    cursor: pointer;
}


